/* Home-page */
#navbar {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-top: 0;
  background-color: black;
  height: 80px;
  width: 100%;
 }
 .logo1{
  width: 80px;
  margin: -5px;
 }

/* Add media query for responsiveness */
@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    height: auto;
  }

  .tag {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
}

.tag{
  text-decoration: none;
  color:white;
  background-color:black ;
  border-radius: 25px;
  margin-top: 15px;
}
#home-page-img{
background: url("https://www.webinarhosting.com/wp-content/uploads/2020/07/AdobeStock_291529177-2048x1365.jpeg");
width: 100%;

height: 800px;
background-repeat:no-repeat;
background-position: center;
background-size: cover;
margin-top: 0;
border: 1px solid black;
}
#head{
  text-align: center;
  background-color:white;
  width: 45%;
  color: black;
  padding: 10px;
  margin: 30px auto;
}
#p{
  font-size: 50px;
  text-align: center;
  background: linear-gradient(to right, red, yellow);
  animation: changeColor 5s forwards;
  padding: 10px;
}

@keyframes changeColor {
  0% {
    
    color: black;
    background: linear-gradient(to right, red, yellow);
  }
  50% {
  
    color:black;
    background: linear-gradient(to right, blue, green);
  }
  100% {
    
    color: black;
    background: linear-gradient(to right, red, yellow);
  }

}

/* coursecard */
#coursehead{
  text-align: center;
  font-size: 50px;
  color: darkorchid;
}
#container{
  
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; 
  width: 70%;
  justify-content: center;
}


#course-card {
  border: 1px solid black;
  margin: 10px;
  width: calc(33.33% - 20px - 2px);
  justify-content: center;
  transition: transform 0.3s ease;
}

#course-card:hover {
  transform: scale(1.05);
}


@media (max-width: 890px) {
  #course-card {
    width: calc(50% - 20px - 2px);
  }
}

@media (max-width:540px) {
  #course-card {
    width: calc(100% - 10px);
  }
}

.course-img{
  width: 100%;
  height: 250px;
}
.para{
  text-align: center;
  font-size: 20px;
}
.active-card{
  border: 2px solid green;
}

#course-start{
  text-align: center;
  width: 40%;
  margin: 20px auto;
  background-color: black;
  color: white;
}
.course-title{
  text-align: center;
}
.course-description{
  text-align: center;
}
#joinbtn{
 
  text-align: center;
  justify-content: center;
  height: 30vh;
  background-color: black;
  margin-top: 5px  ;
  padding-top: 20px;
  
}
.btn{
  background-color: rgb(55, 55, 137);
  color: white;
  font-size: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 20%;
  border: 1px solid white;
  
}
.footer{
  color: white;
}
/*About-page  */
.about{
  margin: 150px;
  font-size: 20px;
  background: linear-gradient(to right, lightgreen, lightblue);
  
  width: 80%;
  margin: auto;
 }
#about-page{
  padding: 20px;
}
 .logo{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px  auto;
 }
 /* Contact-page */
 .contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}
/* Login-page */
.auth-form-container {
  max-width: 400px;
  margin: 250px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  

}

.auth-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  

}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
#joinus{
  background-image: url("https://www.dlbassociates.com/assets/images/join-us-1600x900.jpg");
 width: 100%;
  height: 100hv
}
.joinwebinar-img{
  width: 50%;
  margin:  10px 35px;
  border-radius: 50px;
}

 #joindata{
  margin: 5px;
 } 
 

#join-data{
  padding: 10px;
font-size: 20px;
color:black ;
width: 50%;
height: 98%;
background-color: #ccc;
margin: 5px 10px;


}